<div class="container ">
  <h2>Informacion Pelicula</h2>
  <br>
  <label>Titulo: <span>{{pelicula?.titulo}}</span></label>
  <br>
  <label>Director: <span>{{pelicula?.director}}</span></label>
  <br>
  <label>Genero: <span>{{pelicula?.genero}}</span></label>
  <br>
  <label>Año: <span>{{pelicula?.anio}}</span></label>
  <br>
  <label>Duracion: <span>{{pelicula?.duracion}}</span></label>
  <br>
  <button class="btn btn-dark" [routerLink]="['../../']" routerLinkActive="active">Volver a Buscar</button>
</div>

